:root {
  --primary-color: #fe8a02;
  --primary-dark: #42413c;
  --text-color: #2a2626;
  --translucent-dark: #908d8b;
  --basic-white: #fff;
  --translucent-white: #d7ccc0;
  --background-light: #f5f4f0;
  --background-dark: #b09a81;
  --blue-color: #1085c5;
}

/* Content Section component */
.content-section {
  position: relative;
  top: -368px;

  min-height: 861px;
  padding: 0 165px;
}

.content-section::before {
  position: absolute;
  right: 0;
  left: 0;

  height: 100%;

  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.background {
  background-color: var(--background-light);
}

.light-theme {
  background-color: var(--background-light);
  background-repeat: no-repeat;
  background-size: cover;
}

.bt-light-theme {
  color: var(--basic-white);

  background-color: var(--background-dark);
}

.bt-dark-theme {
  color: var(--primary-dark);

  background-color: var(--basic-white);
}

.dark-theme {
  color: var(--basic-white);

  background-color: var(--background-dark);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Button component */
.more-info {
  display: inline-block;
  box-sizing: border-box;
  width: 149px;
  height: 48px;
  padding: 12px 24px;

  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary-color);
}

/* Card component */

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.card-wrapper-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 73px;
}

.beases-info {
  width: 540px;

  font-weight: normal;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1.2em;
}

.keyword {
  margin: 6px 0 8px;

  font-size: 24px;
}

.bottom-title {
  height: 30px;
  margin-bottom: 20px;
  padding-left: 8px;

  font-weight: 700;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.card-wrapper-bottom p {
  margin-top: 6px;
}

.card-heading {
  margin: 14px 0 24px;

  font-weight: inherit;
  font-size: 60px;
  line-height: 1.1em;
}

.detailed-info {
  margin: 0;

  font-size: 34px;
  line-height: 40.8px;
}

.picture-wrapper {
  width: 540px;
  height: 405px;

  background-color: var(--basic-white);
}

.card-picture {
  position: relative;

  width: 540px;
  height: 405px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Cards component */

.cards-item {
  box-sizing: border-box;
  width: 350px;
  height: 310px;
  padding: 24px;

  background-color: var(--background-light);
}

.cards-item:nth-child(n + 4) {
  min-height: 347px;
}

.cards-item:first-child {
  padding: 0;

  background-color: transparent;
}

.heading-2 {
  max-width: 700px;
  margin: 0 auto;

  color: var(--text-color);
  font-weight: normal;
  font-size: 60px;
  font-family: 'Neucha', cursive;
  line-height: 66px;
  text-align: center;
}

.heading-phrase {
  margin: -7px 0 0;

  color: var(--primary-color);
  font-weight: normal;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1.2em;
}

body {
  width: 100%;
  margin: 0 auto;

  color: var(--secondary-dark);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 25.6px;

  background-color: var(--basic-white);
}

.main-header {
  position: relative;

  width: 100%;
  min-height: 1005px;
  margin: 0 auto;
  padding: 100px 0;

  overflow: hidden;

  background-color: var(--background-light);
}

.main-header::before {
  position: absolute;
  right: 0;
  left: 0;

  height: 100%;

  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.header-container {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  width: 1110px;
  margin: 0 auto;
}

.header-heading {
  z-index: 1;

  min-height: 468px;
  margin: 0;
  padding-top: 23px;

  color: var(--text-color);
  font-weight: normal;
  font-size: 72px;
  font-family: 'Neucha', cursive;

  line-height: 1.2em;
}

.colorized-text {
  color: var(--primary-color);
}

.illustration {
  position: absolute;
  top: -85px;
  right: -342px;
  z-index: -1;

  height: 595px;
}

.text-wrapper {
  position: relative;
  z-index: 1;

  display: flex;

  font-weight: normal;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;

  column-gap: 30px;
}

.text-container {
  flex: 1 1 540px;
}

.header-btn {
  margin-left: 570px;
}

.intro-info {
  position: relative;
  top: -245px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 775px;
  padding-top: 100px;

  background-color: var(--basic-white);
}

.video {
  position: relative;
  z-index: 1;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.biases-cards {
  position: relative;
  top: -348px;

  min-height: 799px;
  padding-top: 204px;

  background-color: var(--primary-dark);
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 1110px;
  margin: 0 auto;
  row-gap: 20px;

  column-gap: 30px;
}

.text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 33px;

  color: var(--text-color);
  font-weight: normal;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

.intro-heading {
  margin-bottom: 30px;
}

.cards-heading {
  font-size: 52px;
}

.caption-card-heading {
  color: var(--basic-white);
  font-weight: normal;
  font-size: 52px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 120%;

  text-align: start;

  background-color: var(--primary-dark);
}

.item-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: -24px;
  padding: 24px;

  text-decoration: none;
}

.num-title {
  margin-bottom: 40px;

  color: var(--primary-dark);
  font-weight: normal;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1;
}

.card-text {
  margin-top: 5px;

  color: var(--text-color);
  font-weight: normal;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 1.6em;
}
