:root {
  --primary-color: #fe8a02;
  --primary-dark: #42413c;
  --text-color: #2a2626;
  --translucent-dark: #908d8b;
  --basic-white: #fff;
  --translucent-white: #d7ccc0;
  --background-light: #f5f4f0;
  --background-dark: #b09a81;
  --blue-color: #1085c5;
}

/* Content Section component */
.content-section {
  position: relative;

  min-height: 861px;
  padding: 0 165px;
}

.content-section::before {
  position: absolute;
  right: 0;
  left: 0;

  height: 100%;

  content: "";
}

.light-theme {
  background-color: var(--background-light);
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.dark-theme {
  background-color: var(--background-dark);
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

/* Button component */
.more-info {
  display: inline-block;
  box-sizing: border-box;
  width: 149px;
  height: 48px;
  padding: 12px 24px;

  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary-color);
}

body {
  width: 100%;
  margin: 0 auto;

  color: var(--secondary-dark);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 25.6px;

  background-color: var(--basic-white);
}

.main-header {
  position: relative;

  width: 100%;
  min-height: 960px;
  margin: 0 auto;
  padding: 122px 0;

  overflow: hidden;

  background-color: var(--background-light);
}

.main-header::before {
  position: absolute;
  right: 0;
  left: 0;

  height: 100%;

  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.header-container {
  position: relative;

  box-sizing: border-box;
  width: 1110px;
  margin: 0 auto;
}

.header-heading {
  /* position: relative; */
  z-index: 1;

  min-height: 468px;
  margin: 0;

  color: var(--text-color);
  font-weight: normal;
  font-size: 72px;
  font-family: 'Neucha', cursive;

  line-height: 1.2em;
}

.colorized-text {
  color: var(--primary-color);
}

.illustration {
  position: absolute;
  top: -55px;
  right: -270px;

  height: 525px;
}

.text-wrapper {
  position: relative;
  z-index: 1;

  display: flex;

  color: var(--text-color);
  font-weight: normal;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;

  column-gap: 30px;
}

.text-container {
  flex: 1 1 540px;
}

.text-container:last-child {
  margin-bottom: 21px;
}

.header-btn {
  margin-left: 570px;
}

.intro-info {
  height: 777px;
}

.biases-cards {
  min-height: 978px;

  background-color: var(--primary-dark);
}
