:root {
  --primary-color: #fe8a02;
  --darker-primary: #ea7600;
  --primary-dark: #42413c;
  --text-color: #2a2626;
  --translucent-dark: #908d8b;
  --basic-white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --dark: #b09a81;
  --blue-color: #1085c5;
}

/* Content Section component */
.content-section {
  position: relative;

  top: -100px;

  min-height: 805px;
  padding: 0 165px;
}

.content-section:nth-of-type(n + 7) {
  top: -176px;

  min-height: 916px;
  margin-bottom: -75px;
}

.bg-questions {
  background-color: var(--light);
}

.bg-questions::before {
  position: absolute;
  right: 0;
  left: 0;

  height: 100%;

  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.light-theme {
  background-color: var(--light);
  background-repeat: no-repeat;
  background-size: cover;
}

.bt-light-theme {
  color: var(--basic-white);

  background-color: var(--dark);
}

.bt-dark-theme {
  color: var(--primary-dark);

  background-color: var(--basic-white);
}

.dark-theme {
  color: var(--basic-white);

  background-color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Button component */
.more-info {
  display: inline-block;
  box-sizing: border-box;
  width: 149px;
  height: 48px;
  padding: 12px 24px;

  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary-color);
}

.more-info:hover {
  background-color: var(--darker-primary);
}

/* Card component */

.container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.card-wrapper-top {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 85px;
}

.beases-info {
  position: relative;

  width: 502px;

  font-weight: normal;
  font-family: "Neucha", cursive;
  font-style: normal;
  line-height: 1.2em;
}

.bottom-title {
  flex-basis: 100%;

  height: 26px;
  margin-bottom: 20px;
  padding-left: 8px;

  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.card-wrapper-bottom p {
  margin-top: 4px;
  margin-bottom: 0;
}

.picture-wrapper {
  width: 578px;
  height: 433px;

  background-color: var(--basic-white);
}

.card-picture {
  position: relative;

  width: 580px;
  height: 433px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Cards component */

.cards-item {
  box-sizing: border-box;
  width: 350px;
  min-height: 322px;
  padding: 9px 24px;

  background-color: var(--light);
}

.cards-item:nth-child(n + 4) {
  min-height: 347px;
}

.cards-item:first-child {
  padding: 0;

  background-color: transparent;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  padding: 0;

  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

body {
  margin: 0 auto;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 25.6px;

  background-color: var(--basic-white);
}

.main-header {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  min-height: 914px;
  margin: 0 auto;
  padding: 100px 0 0 0;

  overflow: hidden;

  background-color: var(--light);
}

.header-container {
  z-index: 1;

  box-sizing: border-box;
  padding-top: 0;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: 400;
  font-family: "Neucha", cursive;
  font-style: normal;
}

h1 {
  font-size: 72px;
  line-height: 1.2em;
}

.heading-space {
  margin: 0 0 182px 0;
  padding-top: 4px;
}

h2,
.h2 {
  font-size: 60px;
  line-height: 1.2em;
  text-align: center;
}

h3,
.h3 {
  margin: -7px 0 0;

  font-size: 34px;
  line-height: 1.2em;

  user-select: all;
}

.item-link .h3 {
  color: var(--primary-color);
}

h4,
.h4 {
  font-size: 24px;
}

.beases-info .h4 {
  margin: 6px 0 5px;
}

.intro-heading {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 100px;
}

.caption-card-heading {
  color: var(--basic-white);
  font-size: 52px;
  line-height: 120%;

  text-align: start;

  background-color: var(--primary-dark);
}

.f-size-52 {
  margin: 0 auto;

  font-size: 52px;
}

.color-primary {
  color: var(--primary-color);
}

.card-heading {
  margin: 5px 0 37px;

  text-align: start;
}

.illustration {
  position: absolute;
  top: -45px;
  right: -273px;
  z-index: -1;

  height: 530px;
}

.container-col {
  position: relative;
  z-index: 1;

  display: flex;

  line-height: 1.6em;

  column-gap: 30px;
}

.text-container {
  flex: 1 1 540px;
}

.text-container .separated {
  margin-top: 16px;
  margin-bottom: 20px;
}

.header-container p:last-of-type {
  margin-bottom: 4px;
}

.header-btn {
  margin-top: 35px;
  margin-left: 570px;
}

.intro-info {
  text-align: center;
}

.intro-spacing {
  padding-top: 100px;
}

.frame-wrapper {
  width: 919px;
  height: 586px;
  margin: 0 auto;
  padding-top: 22px;
}

.video {
  position: relative;
  z-index: 1;

  width: 919px;
  height: 562px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.biases-cards {
  position: relative;
  top: -100px;

  min-height: 799px;
  padding-top: 100px;

  background-color: var(--primary-dark);
}

.card-link-wrapper {
  box-sizing: border-box;
  height: 100%;
  padding: 24px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 1110px;
  margin: 0 auto;
  row-gap: 20px;

  column-gap: 30px;
}

.paragraph-margin {
  margin: 10px 0 7px 0;

  text-align: center;
}

.cards-heading {
  font-size: 52px;
}

.item-link {
  display: block;

  width: 100%;
  height: 100%;
  margin: -10px -24px;
  padding: 9px 24px;

  color: var(--text-color);
  text-decoration: none;
}

.item-link:hover {
  background-color: var(--primary-color);
}

.num-title {
  display: block;

  margin-bottom: 42px;
  padding-top: 22px;

  color: var(--primary-dark);
  font-weight: normal;
  font-size: 64px;
  font-family: "Neucha", cursive;
  font-style: normal;
  line-height: 1;
}

.card-text {
  margin-top: 15px;

  line-height: 1.6em;

  user-select: all;
}

.item-link:hover .num-title,
.item-link:hover .h3,
.item-link:hover .card-text {
  color: var(--basic-white);
}

.site-footer {
  margin-bottom: 54px;
}

.subscription {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1110px;
  min-height: 192px;

  margin: 0 auto;

  color: var(--basic-white);
  font-weight: normal;
  font-style: normal;

  background-color: var(--primary-dark);
}

.column-text,
.column-input {
  flex: 1 1 545px;
}

.column-text {
  box-sizing: border-box;
  padding-left: 52px;

  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 10.2px;
}

.column-input {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  padding: 15px 15px;
}

.input-wrapper {
  display: flex;

  width: 482px;
}

.email-submit {
  position: relative;

  width: 70px;
  height: 50px;

  background-color: var(--primary-color);
  border: 0;
}

.email-submit:hover {
  background-color: var(--darker-primary);
}

.email-submit::after {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 25px;
  height: 25px;
  margin: auto;

  overflow: auto;

  background-image: url(../img/send.svg);

  content: "";
}

.email-label {
  margin-top: 21px;
  margin-bottom: 8px;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.6em;
}

.email-input {
  box-sizing: border-box;

  width: 525px;
  height: 50px;
  padding: 15px;
}

.conditions {
  position: relative;
  bottom: 12px;

  font-size: 12px;
}

.conditions-page {
  color: var(--basic-white);
}

.site-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 560px;
  height: 100px;
  margin: 0 auto;
  margin-top: 60px;

  font-size: 14px;
  line-height: 22.4px;
}

.site-sources {
  margin: 4px 0 17px;
}

.sources-anchor,
.hexlet-site {
  color: var(--blue-color);
}
